{% extends "base.html" %} {% block main %}

<div
  class="columns is-mobile is-fullheight has-text-centered is-vcentered"
  style="height: 85vh"
>
  <div class="column">
    <div class="card ml-6 mr-6 p-4" style="background-color: #464444">
      <div class="block has-text-centered">
        <span style="font-size: 50px">💩</span>
      </div>
      <h1 class="mb-3" style="color: #c7ff60">Error 404 - Page Not Found</h1>
      <a style="color: #9294fc" href="/">&larr; Go back to the homepage</a>
    </div>
  </div>
</div>

{% endblock main %}
