{% extends "base.html" %} {% block main %}
<div class="columns is-desktop is-vcentered">
  <div class="column m-5">
    <div class="container is-fullheight">
      <div class="box is-centered" id="generate-tracks-box">
        <div class="container has-text-centered" data-aos="fade">
          <div class="subtitle">Okay, Let's track your e-mail!</div>
        </div>

        <hr />

        <form action="{{ url_for('index') }}" method="post">
          {{ form.csrf_token }}
          <div class="container" data-aos="fade">
            <div class="field">
              <label class="label">Email Subject:</label>
              <div class="control">
                {{ form.email_title(class="input is-primary is-rounded",
                placeholder="Sept. budget report", maxlength=25, spellcheck="",
                autofocus="") }}
              </div>
              <p class="help">Input the subject of your email here</p>
            </div>
            <div class="field">
              <label class="label">To:</label>
              <div class="control">
                {{ form.email_address(class="input is-primary is-rounded",
                placeholder="sabrina@example.com", maxlength=25) }}
              </div>
              <p class="help">Input the recipient's email address here</p>
            </div>

            <div class="control">
              {{ form.submit(class="button is-block is-primary is-large
              is-fullwidth") }}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="column">
    <img id="hero-img" src="{{ url_for('static', filename = 'hero.webp') }}" />
  </div>
</div>
{% endblock %}
