{% extends "base.html" %}

{% block main %}
<div class="column is-4 is-offset-4">
    <h3 class="title" style="text-align: center;">A Simple E-mail Tracker</h3>
    <div class="box">
        <form action="{{ url_for('login') }}" method="post">
            {{ form.csrf_token }}
            <div class="field">
                <div class="control">
                    {{ form.username(class="input is-primary is-rounded", placeholder="Input Username", maxlength=15, autofocus="") }}
                </div>
            </div>

            <div class="field">
                <div class="control">
                    {{ form.password(class="input is-primary is-rounded", placeholder="Input Password", maxlength=25) }}
                </div>
            </div>
            {{ form.login(class="button is-block is-info is-large is-fullwidth") }}
        </form>
    </div>
</div>
{% endblock main%}