{% extends "base.html" %}

{% block main %}

<div class="container" style="margin-top: 15px;">
  {% for item in trackingList %}

    <div id="trackCards" class="card">
      <header class="card-header">
        <p class="card-header-title">
          {{ item.emailTitle }}
        </p>
        <a href="{{ url_for('delete',  utm_id = item.utmId )}}" class="delete-button" method="delete">
          <i class="fa fa-light fa-circle-minus"></i>
        </a>
      </header>

      <div class="card-body" style="padding: 15px;">
        <a href="{{ url_for('tracking_data', utm_id=item.utmId) }}">
        <h3>{{ item.utmId }}</h3>
        <p style="text-decoration: underline;">Added on: </p>
        <p>{{ item.generatedDate }}</p>
        {% if item.hits %}
        <p>Access Count: <span class="tag is-light is-success is-medium">{{ item.hits|length }}</span></p>
        {% else %}
          <span class="tag is-warning is-rounded">No Hits!</span>
        {% endif %}
      </div>
      
    </div>
  </a>
  {% endfor %}
</div>

<style>
  .container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }
  #trackCards{
    margin: 10px;
  }
  #trackCards:hover{
    box-shadow: 0px 0px 15px 5px rgba(8, 17, 6, 0.26);
  }

  .card-header{
    display: flex;
  }
  .delete-button{
    margin-top: 0.7em;
    margin-right: 0.7em;
  }

  .delete-button:hover{
    color: red;
    cursor: pointer;
  }
  a{
    color: black;
    text-decoration: none;
  }
</style>

{% endblock %}